[submodule "lib/secp256k1"]
	path = lib/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "lib/wjcryptlib"]
	path = lib/wjcryptlib
	url = https://github.com/WaterJuice/WjCryptLib.git
[submodule "lib/sha3"]
	path = lib/sha3
	url = https://github.com/pablotron/sha3.git
[submodule "lib/libtomcrypt"]
	path = lib/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "lib/libtommath"]
	path = lib/libtommath
	url = https://github.com/libtom/libtommath.git
